<link rel="stylesheet" type="text/css" href="/css/style.css">

<h1>Hi, <%= currentUser.name %>. Welcome to the app!</h1>

<br />

<h1>Use the form below to add your own recipe!</h1>
<%= userrecipes.forEach(userrecipe %> {
  <% userrecipe.strMeal %>
  <% userrecipe.strDescription %>
  <% }) %>


<form method="POST" action="/profile/userrecipes">
  <input type="text" name="strMeal" value="<%= userrecipe.strMeal %>">
  <input type="text" name="strMealThumb" value="<%= userrecipe.strMealDescription %>">
  <button class="btn btn-primary" type="submit">Add to user recipes</button>
</form>

<% }) %>
