<link rel="stylesheet" type="text/css" href="/css/style.css">

<h1>Hi, <%= currentUser.name %>. Welcome to the app!</h1>

<p>Below you will find the name 
  of a catergory and a picture.</p>

for each category 
display thumbnail 
display name
<br />

