<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Auth Boilerplate</title>
  </head>
  <body>
   
    <div class="container">
    </div>
    <nav id="nav">
      <% if (currentUser) { %>
        <a href="/">Home</a>
        <a href="/auth/logout">Logout</a>
        <a href="/profile/index">Profile</a>
        <a href="/profile/show">Favorites</a>
      <% } else { %>
        <div id="notCurrentUser">
        <p>If you already have an account, simply click login and you will be directed to your profile/favorites page</p>
        <p>Otherwise, please register and enjoy my app!</p>
        <nav id="notCurrentUser">
          <a href="/auth/register">Register</a>
          <a href="/auth/login">Login</a>
        </nav>
        </div>
      <% } %>
    </nav>
    <%- body %>
  </body>
</html>