body {
  background-color: #EBA61E;
}

h1 {
  text-align: center;
}

#nav {
  display: flex;
  justify-content: center;
}

a {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

#notCurrentUser {
  display: block;
  text-align: center;
}

#register {
  text-align: center;
}

#login {
  text-align: center;
}

img.favorite-image {
  width: 200px;
  height: 200px;
}