body {
  background-color: #EBA61E;
}

h1, h3 {
  text-align: center;
}

#nav {
  display: flex;
  justify-content: center;
}

a {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

#notCurrentUser {
  display: block;
  text-align: center;
}

#register {
  text-align: center;
}

#login {
  text-align: center;
}

img.favorite-image {
  width: 200px;
  height: 150px;
}

img { 
  width: 200px;
  height: 150px
}

div.categories-container {
  display:inline-block;
   margin-top:10px
}

div.category-text, div.meal-text {
  text-align: center;
  width: 150px;
  font-size: 1.5em;
}

div.meals-container {
  display:inline-block; 
  margin-top:10px
}