<h1>Breakfast Recipes</h1>

<% meals.forEach(meal => { %>
  <div class="meals-container">
    <div class="meal">
      <a href="/categories/<%= meal.idMeal %>"><img src="<%= meal.strMealThumb %>" alt="<%= meal.strMeal %>"></a>
    </div>
    <br />
    <div class="meal-text">
      <%= meal.strMeal %>
    </div> 
  </div>
<% }) %>