<h1>Favorites</h1>

<% favorites.forEach(function(favorite) { %>
  <div>
    <img class="favorite-image" src="<%= favorite.strMealThumb %>" alt="<%= favorite.strMeal %>">
    <br />
    <a href="/categories/<%= favorite.idMeal %>"><%= favorite.strMeal %></a>
    <form method="POST" action="/categories/favorites/?_method=DELETE">
      <button class="btn btn-primary" type="submit">Remove Recipe</button>
    </form>
  </div>
<% }) %>
