
<h1>Hello, Welcome to my recipe app!</h1>

<p>Below you will find the name 
  of a catergory and a picture to choose from. Once you find one you like, you may add it to the your favorites page.</p>

<% categories.forEach(category => { %>
  <div style="background-color: #f00;display:inline-block; margin-top:10px">
    <div style="background-color: #0f0; width:200px">
      <a href="/categories/<%= category.strCategory.toLowerCase() %>"><img src="<%= category.strCategoryThumb %>" alt="<%= category.strCategory %>"></a>
    </div>
    <br />
    <div style="background-color: #00f; width: 150px">
      <%= category.strCategory %>
    </div> 
  </div>
<% }) %>