<h1>Here is your chosen recipe. Enjoy!</h1>
<% meals.forEach(meal => { %>
  <img style="height:150px;width:150px" src="<%= meal.strMealThumb %>" alt="<%= meal.strMeal %>">
  <%= meal.strMeal %>

<% }) %>